.intro {
    margin: 25px;
    padding: 10px;
    text-align: center;
    background-color: rgb(219, 212, 212);
    font-size: 16x;
}

.tribute {
    margin: 25px;
    background-color: rgb(219, 212, 212);
}

ul {
    display: table;
    text-align: center;
    margin: 0 auto;
    list-style-position: inside;
}

.fit-picture {
    width: auto;
    max-width: 100%;
    height: auto;
}

#img-fig {
    background-color: rgb(10, 10, 10);
}

#caption {
    color: aliceblue;
    align-self: center;
}

blockquote {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}

div.gallery img {
    width: 100%;
    height: auto;
}
div.gallery:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15x;
    text-align: center;
}
